@import url(common.css);


button, input {
  outline: none;
  border: none;
  color: inherit;
}
ul, li {
  list-style-type: none;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.top-nav {

  width: 1140px;
  margin: 0 auto;
  display: flex;
}
.top-nav .nav-menu {
 
  width: 17%;
  margin: 0 auto;
  padding: 50px 0 50px;
  text-align: center;
  font-size: 20px;
  color: #323232;
  font-weight: 400;
}
.top-nav .orangetext {
  color: #ff6400;
}

/* 1139 */
/* 449 */

.top-wrap {
  width: 1140px;
  margin: 0 auto;
}

.top-wrap .top-frame {
  width: 1139px;
  height: 449px;
}
.top-wrap .top-frame .cootiq-img {
  background: url('../img/cootiq/cootiq_visual\(top\).jpg') no-repeat center/cover;
  width: 1139px;
  height: 449px;
}
.main-menu {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  padding-top: 100px;
  padding-bottom: 50px;
}

.main-menu .items {
  cursor: pointer;
  width: 25%;
}

.main-menu .items .menu-frame {
  width: 180px;
  height: 180px;
  position: relative;
}
.main-menu .items .menu-frame .menu-img {
  /* background: url('../img/cootiq/트러플파스타1.png') no-repeat center/cover;
  width: 180px;
  height: 180px; */
  position: absolute;
  left: 50px;
}

.main-menu .items .menu-frame .menu1 {
  background: url('../img/cootiq/트러플파스타1.png') no-repeat center/cover;
  width: 180px;
  height: 180px;
}
.main-menu .items .menu-frame .menu2 {
  background: url('../img/cootiq/마라크림파스타2.png') no-repeat center/cover;
  width: 180px;
  height: 180px;
}
.main-menu .items .menu-frame .menu3 {
  background: url('../img/cootiq/매콤김치3.png') no-repeat center/cover;
  width: 180px;
  height: 180px;
}
.main-menu .items .menu-frame .menu4 {
  background: url('../img/cootiq/마라크림파스타4.png') no-repeat center/cover;
  width: 180px;
  height: 180px;
}

.main-menu .items .menu-text {

  text-align: center;
  padding: 15px 0 15px;
  font-size: 18px;
}
.main-menu .items .button-wrap {
  width: 96%;
  margin: 10px auto 0;
  display: flex;
  justify-content: space-evenly;

}

.main-menu .items .button-wrap .orange {
  background: #ff6400;
  color: white;
  padding: 10px 20px 10px 20px;
}

.main-menu .items .button-wrap .white {
  border: 1px solid #ff6400;
  padding: 10px 20px 10px 20px;
  color: #ff6400;
}
#cootiq-wrap {
  position: relative;
}

a#more {
  color: #ff6400;
  border: 1px solid #ff6400;
  width: 100px;
  margin: 0 auto;
  font-size: 1.1rem;
  position: relative;
  left: 46.5%;
  padding: 6px 30px;
  border-radius: 30px;
  cursor: pointer;
}
a#more:hover {
  
  text-decoration: underline;
  font-size: 1.1em;
  background: rgba(255, 115, 0, 0.808);
  color: white;  
}

.long-frame {

  width: 100%;   /* 예진수정 */ 
  height: 8020px;
  margin-top: 80px;
}
.long-frame .main-border {
  width: 1140px;
  height: 0;
  border-top: 1px solid #000;
  margin: 0 auto;
  position: absolute;
  left: 17.5%;
}

.long-frame .long-img {
  width: 100%;  /* 예진수정 */
  height: 8020px;
  background: url('../img/cootiq/cootiq_history\(middle\).jpg');
}

.bottom-wrap {
  width: 1140px;
  margin: 0 auto;
  position: relative;
  left: 90px;
}

.bottom-wrap .media {
  margin-bottom: 25px;
  color: #111;
  font-size: 46px;
  font-weight: 500;
  line-height: 50px;
}

.bottom-wrap .small-text {
  color: #666;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 30px;
}

.bottom-wrap .media-list {
  width: 70%;
  margin: 0 ;

  display: flex;
}
.bottom-wrap .media-list .media-wrap {
  width: 50%;
  cursor: pointer;
  
}
.bottom-wrap .media-list .media-frame {
  width: 360px;
  height: 203px;
  justify-content: space-between;
  position: relative;
 
}
.bottom-wrap .media-list .media-frame .media-img-first {
  background: url('../img/cootiq/bottomimg21.jpeg') no-repeat center/cover;
  width: 360px;
  height: 203px;
  position: relative;
}
.bottom-wrap .media-list .media-frame .media-img-second {
  background: url('../img/cootiq/bottomimg2.jpeg') no-repeat center/cover;
  width: 360px;
  height: 203px;
  position: relative;
}

.bottom-wrap .media-list .title-date {
  display: flex;
  padding: 20px 0;
  position: relative;
  width: 360px;
  border-bottom: 1px solid #aeaeae;
}
.bottom-wrap .media-list .title-date:nth-child(1) {
  right: -100px;
  border: 1px solid #000;
}
.bottom-wrap .media-list .title-date .title {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}
.bottom-wrap .media-list .title-date .date {
  position: absolute;
    top: 10px;
    right: 5px;
    color: #aeaeae;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
}

.bottom-wrap .media-list .bottom-text {
  height: 40px;
  padding: 15px 0 40px 0;
  color: #666;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  width: 360px;
}
.button-wrap > div:hover {
  text-decoration: underline;
}

.more {
     color: #ff6400;
     border: 1px solid #ff6400;
    width: 120px;
    margin: 60px auto;
    font-size: 0.9rem;
    position: relative;
    left: -17%;
    padding: 6px 30px;
    border-radius: 30px;
    padding-right: 0px;
    cursor: pointer;
  }

  .more:hover {
    text-decoration: underline;
    font-size: 1.1em;
    background: rgba(255, 115, 0, 0.808);
    color: white; 
  }